# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment file
.env

# Ignore database files
*.sqlite3
backend/app/gardening.db 

# Track migrations but ignore compiled Python files within versions
!backend/migrations/
backend/migrations/versions/*.pyc
