.navbar {
    background-color: var(--primary-green);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px var(--shadow-color);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--background-cream);
}

.logout-button {
    background-color: var(--accent-brown);
    color: var(--text-light);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-button:hover {
    background-color: var(--secondary-green);
}
